{#
/**
 * @file
 * Theme override to display About Us page content.
 */
#}
{{ attach_library('itconsultis/global-styling') }}
{{ attach_library('itconsultis/carousel') }}

<article{{ attributes.addClass('about-us-page', 'node', 'node--type-' ~ node.bundle|clean_class) }} role="main">
  
  {% if content.field_page_sections %}
    <div class="page-sections-wrapper">
      {{ content.field_page_sections }}
    </div>
  {% endif %}
  
</article>